<nav
  class="navbar navbar-expand-lg"
  style="background: linear-gradient(135deg, #89f7fe, #66a6ff)"
>
  <div class="container">
    <a class="navbar-brand fw-bold text-dark" href="../index.html">Talkify</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" id="nav-login">
          <a class="nav-link text-dark" href="../pages/login.html">Login</a>
        </li>
        <li class="nav-item" id="nav-register">
          <a class="nav-link text-dark" href="../pages/register.html"
            >Register</a
          >
        </li>

        <li class="nav-item" id="nav-feed">
          <a class="nav-link text-dark" href="../pages/feed.html">Feed</a>
        </li>
        <li class="nav-item" id="nav-profile">
          <a class="nav-link text-dark" href="../pages/profile.html">Profile</a>
        </li>
        <li class="nav-item" id="nav-logout">
          <a class="nav-link text-dark" href="#" id="logoutBtn">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
